
body {
    background-image: url(bath-duck-close-up-cute-592677.jpg);
    box-shadow: 0 0 8px 8px black inset;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}